/* basic RULES*/

* {
    box-sizing: border-box;
}

body,
html {
    min-height: 100vh;
    margin: 0;
}

img {
    max-width: 100%;
}

/* end basic RULES*/


body {
    background: #e9e9e9;
}

.content-area {
    width: 70%;
    margin: auto;
    padding: 20px;
}

.pencil {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

#Layer_1 .cls-1 {
    fill: black;
}

.cls-1,
.cls-2 {
    stroke-width: 0px;
}

.cls-2 {
    fill: #231f20;
}

.disp {
    display: inline-block;
}

#Layer_1 .cls-1 {
    fill: black;
    opacity: .11;
    stroke-width: 0px;
}

.cls-1 {
    fill: #e9e9e9;
    stroke-width: 0px;
}

.open {
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.turn {
    font-size: 100px;
    position: absolute;
    top: 80px;
    right: 100px;
    cursor: pointer;
}

.sizing {
    top: 80px;
    right: 100px;
}

.background{
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
}
