/* basic RULES*/

* {
    box-sizing: border-box;
}

body,
html {
    min-height: 100vh;
    margin: 0;
}

img {
    max-width: 100%;
}

/* end basic RULES*/


body {
    background: #E6E3E9;
}

.content-area {
    width: 80%;
    margin: auto;
    padding: 0 100px;
}

.pencil {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.cls-1 {
    fill: #231f20;
    stroke-width: 0px;
  }

.disp {
    display: inline-block;
}